body{
	margin:0;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.gallery{
	background-color: #555555;
	min-height: 100vh;
	padding:60px 15px;
}

.container{
	max-width: 1170px;
	margin: auto;
}

.gallery .gallery-items .item{
  width:33.33%;
  float: left;
  transition: all 1s ease;
}
.gallery .gallery-items{
	width:100%;
	display: block;
}
.gallery .gallery-items .item img{
	width:100%;
	display: block;
}

.gallery .gallery-items:hover .item{
	filter: grayscale(100%);
	transform: scale(0.8) rotate(20deg);
}

.gallery .gallery-items .item:hover{
 filter: grayscale(0%);
	transform: scale(1) rotate(0deg);	
}



